* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(to right,rgb(255, 228, 228),rgb(255, 236, 236),beige);
}

header {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 5rem 5rem;
}

.banner {
    display: flex;
    grid-column: 2/6;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.banner h1 {
    margin: 10px;
    padding: 10px;

}

.banner h1 span {
    color: pink;
    animation-name: title;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 1s;
}

.nav {
    grid-column: 1/20;
    grid-row: 2/3;
    background-color: pink;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 5px;
    justify-content: space-evenly;
}

.nav ul li {
    background-color: #ffffff;
}

.nav ul li a {
    color: black;
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
}

.nav ul li a:hover {
    margin: 10px;
    padding: 10px;  
}

main {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,6rem);
}

.off {
    display: flex;
    background-color: pink;
    border: 10px ridge beige;
    margin-top: 30px;
    grid-column: 2/6;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(6deg,white,pink,pink);
}

.off h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}

.button {
    display: flex;
    grid-column: 3/5;
    grid-row: 3;
    justify-content: center;
    align-items: center;
}

.button button {
    font-family: 'Pacifico', cursive;
    margin-top: 55px;
    margin-bottom: 50px;
    padding: 10px;
    border: 15px 15px ridge pink;
    border-radius: 20px;
    background-color: pink;
    transition: 0.3s;
}

.button button:hover {
    font-size: 20px;
}

.carrusel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(354deg,white,pink,pink);
}

.carrusel img {
    height: 250px;
    margin-top: 40px;
    border: 10px ridge beige;
    border-radius: 32px;
    box-shadow: 5px 2px;
    transition: border 0.2s;
}

.carrusel img:hover {
    border: 12px ridge pink;
}

footer {
    display: flex;
    justify-content: start;
    position: relative;
    top: 80px;
}

.pie {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(6deg,white,pink,pink);
}

.pie a img {
    height: 50px;
    transition: 0.2s;
}

.pie a img:hover {
    height: 60px;
}

section h2 {
    display: block;
    text-align: center;
    margin: 10px;
    border: 40px ridge pink;
}

.cooming-soon {
    display: block;
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(354deg,white,pink,pink);
}

.cooming-soon p {
    font-size: 150px;
}

@keyframes title {
    0% {font-family: 'Courier New', Courier, monospace; }
    50% {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    100% {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
}

@media screen and (max-width:1000px) {
    header {
        grid-template-rows: 5rem;
    }

    .nav {
        grid-row: 1/2;
    }
    
    h1 {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .carrusel {
        flex-direction: column;
    }

    .carrusel img {
        margin: 1%;
    }

    .button button {
        margin-bottom: 50px;
    }

    .cooming-soon p {
        font-size: 100px;
    }
}

@media screen and (max-width:660px) {
    header {
        display: grid;
    }

    .button button {
        margin-bottom: 50px;
    }

    .nav ul li {
        background-color: pink;
    }
    
    .nav ul li a {
        background-color: #ffffff;
        font-size: 10px;
    }

    .cooming-soon p {
        font-size: 50px;
    }
}